@model LocacaoModel
@{
    ViewData["Title"] = "Editar locação";
}

<div class="text-center">

    <h1 class="display-4">Editar locação</h1>

</div>
<form asp-controller="Locacao" asp-action="Alterar" method="post">
    <input type="hidden" asp-for="Id"/>
    <div class="form-group">
        <label for="nome">Digite o id do cliente</label>
        <input type="int" asp-for="Id_Cliente" class="form-control" placeholder="Digite o id do cliente">
        @Html.ValidationMessageFor(x => x.Id_Cliente)
    </div>
    <div class="form-group">
        <label for="nome">Digite o id do filme</label>
        <input type="int" asp-for="Id_Filme" class="form-control" placeholder="Digite o id do filme">
        @Html.ValidationMessageFor(x => x.Id_Filme)
    </div>
    <div class="form-group">
        <label for="nome">Data de locação</label>
        <input type="date" asp-for="DataLocacao" class="form-control" placeholder="Digite a data de nascimento do cliente">
        @Html.ValidationMessageFor(x => x.DataLocacao)
    </div>
    <div class="form-group">
        <label for="nome">Data de devolução</label>
        <input type="date" asp-for="DataDevolucao" class="form-control" placeholder="Digite a data de nascimento do cliente">
        @Html.ValidationMessageFor(x => x.DataDevolucao)
    </div>
    <button type="submit" class="btn btn-primary btn-block">Alterar</button>
    <a class="btn btn-secondary btn-block" asp-controller="Locacao" asp-action="Index" role="button">Voltar</a>
</form>

