@model ClienteModel
@{
    ViewData["Title"] = "Criar cliente";
}

<div class="text-center">

    <h1 class="display-4">Cadastrar cliente</h1>

</div>
<form asp-controller="Cliente" asp-action="Criar" method="post">

    <div class="form-group">
        <label for="nome">Nome</label>
        <input type="text" asp-for="Nome" class="form-control" placeholder="Digite o nome do cliente">
        @Html.ValidationMessageFor(x => x.Nome)
    </div>
    <div class="form-group">
        <label for="nome">E-mail</label>
        <input type="text" pattern="\d{3}\.?\d{3}\.?\d{3}-?\d{2}" asp-for="CPF" class="form-control" placeholder="Digite o CPF do cliente">
        @Html.ValidationMessageFor(x => x.CPF)
    </div>
    <div class="form-group">
        <label for="nome">Celular</label>
        <input type="date" asp-for="DataNascimento" class="form-control" placeholder="Digite a data de nascimento do cliente">
        @Html.ValidationMessageFor(x => x.DataNascimento)
    </div> 
    <

    <button type="submit" class="btn btn-primary btn-block">Adicionar</button>
    <a class="btn btn-secondary btn-block" asp-controller="Cliente" asp-action="Index" role="button">Voltar</a>
</form>

